{% comment %} html frame {% endcomment %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
      res="icon"
      type="image/favicon"
      href="../../static/images/favicon.ico"
    />
    <a href="/top_page">
      <title>Briefly.</title>
    </a>
  </head>
  <body class="container">
    {% include "briefly_navbar.html" %} {% block body %} {% endblock %}
  </body>
</html>
