{% extends "./briefly_layout.html" %}
{% load static %}
{% block body %}
<div class="headlines headlines--saved">
  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Saved Articles</h3>

    {% for article in saved_articles %}
      <div class="headlines--category--titles">
        <a class="title" href="{% url 'briefly:view_article' article.NewsID %}">{{ article.Title }}</a>
        <div class="headlines--category--titles--info">
          <span class="publisher">{{article.Source}}</span>
          <a id={article.NewsID} class="button remove-saved-article" href="">remove</a>
        </div>
      </div>
    {% empty %}
      <div class="headlines--category--titles">
        <a class="title" href="">No saved articles</a>
      </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'javascript/saved_article.js' %}"></script>

{% endblock %}
