{% extends "./briefly_layout.html" %} {% load static %} {% block body %}
<div class="headlines">
  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Business</h3>
    <div class="headlines--category--titles">
      <a class="title" href="/template_headlines/template_view_article"
        >Tesla unveils Revolutionary Battery Technology, stock soars 15%</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Financial Times Global</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Amazon announces new delivery drone service</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">TechCrunch</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Apple reports record earnings for Q3</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Wall Street Journal</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Google's AI breakthrough promises to revolutionize healthcare
        industry</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Forbes</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Microsoft announces ambitious plan to achieve carbon negativity by
        2030</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Bloomberg</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
  </div>
  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Technology</h3>

    <div class="headlines--category--titles">
      <a class="title" href=""
        >Elon Musk's Neuralink gets FDA approval for human trials</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">TechCrunch</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Apple unveils new AR glasses</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">The Verge</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Google's quantum computer achieves new milestone</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Wired</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Facebook rebrands to Meta, focuses on metaverse</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">BBC News</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Samsung announces new foldable phone</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">CNET</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
  </div>

  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Health</h3>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >New vaccine shows promise in fight against malaria</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Nature</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">WHO declares end to Ebola outbreak in Congo</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Reuters</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Breakthrough in Alzheimer's research offers new hope</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">CNN</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Study links diet soda to increased risk of stroke</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Harvard Health</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">New fitness trend takes the world by storm</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Men's Health</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
  </div>

  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Entertainment</h3>
    <div class="headlines--category--titles">
      <a class="title" href="">Marvel announces new Avengers movie</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Variety</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Grammy Awards 2023: Full list of winners</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Billboard</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Netflix releases trailer for new sci-fi series</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Hollywood Reporter</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Beyoncé announces world tour dates</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Rolling Stone</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">Oscar nominations 2023: Complete list</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Entertainment Weekly</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
  </div>

  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Sports</h3>
    <div class="headlines--category--titles">
      <a class="title" href="">Olympics 2024: Paris prepares for grand event</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">ESPN</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Lionel Messi wins Ballon d'Or for record 7th time</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">BBC Sport</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Serena Williams announces retirement from tennis</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">The Guardian</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">NFL season kicks off with thrilling opener</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Sports Illustrated</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href="">NBA Finals 2023: Warriors vs. Lakers</a>
      <div class="headlines--category--titles--info">
        <span class="publisher">Bleacher Report</span>
        <a class="button" href="">Save</a>
      </div>
    </div>
  </div>
  <div class="headlines--category">
    <h3 class="headlines--category--name">&#9724; Saved Articles</h3>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >NASA's Perseverance Rover discovers signs of ancient life on Mars</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">National Geographic</span>
        <a class="button" href="">Read Now</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >New species of dinosaur discovered in Argentina</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Scientific American</span>
        <a class="button" href="">Read Now</a>
      </div>
    </div>
    <div class="headlines--category--titles">
      <a class="title" href=""
        >Breakthrough in nuclear fusion promises unlimited clean energy</a
      >
      <div class="headlines--category--titles--info">
        <span class="publisher">Nature</span>
        <a class="button" href="">Read Now</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
