<div class="article">
    <div class="article--title">
        <p>US Shifts Policy on Ukraine Conflict</p>
    </div>
    <div class="article--info">
        <div class="article--info--publisher">
            <p>Wall Street Journal</p>
        </div>
        <div class="article--info--date">
            <p>2025/2/15</p>
        </div>
    </div>
    <div class="article--content">
        <p>
            US troops will not be used to secure the peace in Ukraine following any ceasefire deal with Vladimir Putin, Donald Trump's new defence secretary has declared, as he signalled a dramatic shift in American foreign and defence policy away from Europe.
        </p>
        <p>
            Pete Hegseth also said it is "unrealistic" to think Ukraine can return to its pre-2014 borders and he ruled out NATO membership as way to guarantee Kyiv's security.
        </p>
        <p>
            This will be a huge blow for Volodymyr Zelenskyy.
            The interventions came at the opening of a meeting of allies in Brussels on Wednesday. 
            He said: "We are not going to send American troops to fight in Ukraine. We are not going to send American troops to enforce a peace agreement in Ukraine."
        </p>
        <p>
            The comments mark a significant departure from the policies of the previous administration, which had provided military aid to Ukraine and supported its aspirations to join NATO.
        </p>
    </div>
</div>