{% extends "./briefly_layout.html" %} 
{% load static %} 
{% block body %} 
{% if user.is_authenticated %} 
    {% include "headlines.html" %} 
    {% else %}
<div class="banner">
    <div class="banner--message">
        <div class="banner--message--headline">
            <h2>Find,</h2>
            <h2>Read,</h2>
            <h2>Leave.</h2>
        </div>
        <div class="banner--message--subheadline">
            <h3 class="banner--message--subheadline--text">
                Away from the mess of the word. Start of your day with less than
                25 articles.
            </h3>
        </div>
        <div>
            <a href="{% url 'briefly:user_login' %}" class="button">Login</a>
        </div>
    </div>
    {% include "template_article.html" %}
</div>
<div class="qa-link" >
    <a href="{% url 'briefly:qa' %}">Have a question?</a>
</div>
{% endif %} {% endblock %}
