{% extends "./briefly_layout.html" %} {% load static %} {% block body %}
<div class="login">
  <h3>User Profile</h3>
  <div class="login--form">
    <form method="POST" action="{% url 'briefly:user_profile_setting' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="login--form--input">
      {{ user_signup_form.as_p }}
      <input class="button" type="submit" value="Update" />  
    </form>
  </div>
  <form method="POST" action="{% url 'briefly:user_logout' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="button" type="submit" value="Logout" />  
  </form>
</div>
{% endblock %}
